@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 255 255 255;
    /* Placeholder, will be overridden */
  }

  body {
    @apply bg-neutral-50 text-neutral-900;
  }
}
